<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #d1 {
            width: 100px;
            height: 100px;
            background-color: coral;
        }

        .c1 {
            width: 500px;
            height: 700px;
            background-color: cornflowerblue;
        }
    </style>

</head>
<body>
    <h1>Dom_3 Page</h1>
    <h3 id="d1" onclick="test()"></h3>
    <a href="#img1">IMAGE</a>
    <img src="/resources//images/zzang9.png" alt="" id="d2">
    <button type="button" id="btn1">CLICK</button>
    <div class="c1"></div>
    <img src="/resources/images/bob.gif" alt="" srcset="" id="img1">


    <script src="/resources/js/dom_3.js">
        //코드작성금지
    </script>
</body>
</html>