<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.start.board.notice.NoticeDAO">

	<insert id="setAddFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILE VALUES(FILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
	</insert>

<!-- <select id="getList" resultType="NoticeDTO" parameterType="java.util.Map">
		SELECT * FROM   
		(
			SELECT ROWNUM R, N.* FROM                	2) R열컬럼 생성, N테이블의 모든 컬럼 출력 
			(SELECT * FROM NOTICE ORDER BY NUM DESC) N	1) N 테이블 정렬 먼저
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}		3) 1부터만 출력 가능한 ROWNUM을 startRow부터 lastRow까지의 갯수를 가능케한다
	</select> -->
	
	<sql id="search">
		WHERE
			<choose>
				<when test="kind=='contents'">CONTENTS</when> <!-- 조건식쓸때는 test안에 #{} X -->
				<when test="kind=='writer'">WRITER</when>
				<otherwise>TITLE</otherwise>
			</choose>
		LIKE '%'||#{search}||'%'	
	</sql>
	
	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		SELECT * FROM   
		(
			SELECT ROWNUM R, N.* FROM                	
			(SELECT * FROM NOTICE 
				<include refid="search"></include>
			ORDER BY NUM DESC) N	
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}		
	</select>
	
	<select id="getCount" resultType="java.lang.Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM NOTICE <include refid="search"></include>
	</select>
	
	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult" >
		SELECT *
		FROM NOTICE N
		LEFT JOIN
		NOTICEFILE NF
		USING(NUM)
		WHERE NUM=#{num}
	</select>
	
	<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="NUM" property="num"/> <!-- PK -->
		<result column="TITLE" property="title"/>
		<result column="CONTENTS" property="contents"/>
		<result column="WRITER" property="writer"/>
		<result column="REGDATE" property="regDate"/>
		<result column="HIT" property="hit"/>
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/> <!-- BoardFileDTO의 num -->
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>
	
	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey order="BEFORE" keyProperty="num" resultType="Long">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE VALUES(#{num},#{title},#{contents},#{writer},SYSDATE,0)
	</insert>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM=#{num}
	</delete>
	
</mapper>