<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.start.board.notice.NoticeDAO">

	<select id="getList" resultType="NoticeDTO" parameterType="java.util.Map">
		SELECT * FROM   
		(
			SELECT ROWNUM R, N.* FROM                	<!-- 2) R열컬럼 생성, N테이블의 모든데이터 출력 --> 
			(SELECT * FROM NOTICE ORDER BY NUM DESC) N	<!-- 1) 정렬한 N테이블 생성 -->
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}		<!-- 3) 1부터만 출력가능한 ROWNUM을 sartRow부터 10개씩 가능케한다 -->
	</select>
	
	<select id="getDetail" parameterType="BoardDTO" resultType="NoticeDTO">
		SELECT * FROM NOTICE WHERE NUM=#{num}
	</select>
	
	<insert id="setAdd" parameterType="BoardDTO">
		INSERT INTO NOTICE VALUES(BOARD_SEQ.NEXTVAL,#{title},#{contents},#{writer},SYSDATE,0)
	</insert>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM=#{num}
	</delete>
	
	<select id="getCount" resultType="java.lang.Long">
		SELECT COUNT(NUM) FROM NOTICE
	</select>

</mapper>